#name{
    max-width: 500px;
    margin: 10px;
    padding: 20px;
    border-left: 8px solid green;
    background-color: #f8fffe;
    font-weight: bold;
}
/* Your CSS Code here. */
/* Your CSS Code here. */
